<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memo">
	<!-- 목록을 만들기 위한 SELECT -->
	<select id="total" resultType="mybatis.vo.MemoVO">
		select * from memo_t order by idx desc
	</select>
	
	<!-- 저장을 위한 INSERT -->
	<insert id="add" parameterType="mybatis.vo.MemoVO">
		insert into memo_t(writer,	content, reg_date, ip)
		values(#{writer},	#{content}, #{reg_date}, #{ip})
	</insert>
	
	<!-- 보기를 위한 SELECT -->
	
	
	<!-- 검색을 위한 SELECT (동적쿼리) -->
	
	
	<!-- 수정을 위한 UPDATE -->
	
	
</mapper>